<ul ng-if="data!=null&&data.length!=0">
    <li *ngFor="let node of data">
        <span>{{node.name}}</span>
        <button (click)="onAddNewNodeClick()">Add New</button>
        <button (click)="onRemoveNodeClick(node.id)">Remove</button>
        <div *ngIf="inAddNewMode">
            <span>Type the name of new node:</span>
            <input type="text" [(ngModel)]="newNodeName" />
            <button (click)="onAddNewNodeSubmitClick(node.id)">Submit </button>
        </div>
        <div>
            <hierarchy-tree [data]="node.children" (dataChange)="dataChanged($event)"></hierarchy-tree>
        </div>
    </li>
</ul>